<!--
  Generated template for the OrderHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Orders</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of order_history">
      <div style="overflow: hidden" class="history-item {{get_status(item)}}">
        <div class="order-data-a">
          <div class="order-no">Order # {{item.ID}}</div>
          <div class="order-items">{{item.orderInfo.length}} items</div>
          <div class="order-address">{{item.OrderAddress.Street}}</div>
          <div class="order-price">PKR {{item.Amount}}</div>
        </div>
        <div class="order-data-b">
          <div class="order-status">{{item.Status}}</div>
          <!-- <div class="order-status" (click)="addAddress()">PENDING</div> -->
          <div class="order-date">{{item.CreatedOn}}</div>
          <div class="order-reorder">
            <button class="re-order-btn" (click)="ReOrderDetailsPage(item)">View-Order</button>
          </div>
        </div>
      </div>


    </ion-item>
  </ion-list>
  <div *ngIf="showError" class="emptyMsg">
    {{emptyMessage}}
  </div>
</ion-content>