<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Change Password</ion-title>
    <ion-buttons left>
      <button icon-only ion-button class="backArea" (click)="pop()">
        <img src="assets/Sweet_Donuts_images/general/back.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="signup-background">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" class="profile-info-form" novalidate>
    <ion-item class="input-item-dd input-signup" no-lines>
      <ion-input type="password" value="" placeholder="Password*" formControlName="password" onCopy="return false"
                 onCut="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                 autocomplete=off
                 [(ngModel)]="userData.password"
                 [class.error1]="!userForm.controls.password.valid && userForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="(userForm.get('password').hasError('required') ) && userForm.get('password').touched">
      <div class="error" *ngIf="userForm.get('password').hasError('required')  && userForm.get('password').touched">
        Please enter your password
      </div>
    </ion-item>
    <!-- // ERROR -->
    <div class="divider" no-padding></div>
    <ion-item class="input-item-dd input-signup" no-lines>
      <ion-input type="password" value="" placeholder="New Password*" onCopy="return false" onDrag="return false"
                 onCut="return false"
                 onDrop="return false" onPaste="return false" autocomplete=off formControlName="new_password"
                 (ngModelChange)="getpassvalue($event)"
                 [class.error1]="!userForm.controls.new_password.valid && userForm.controls.new_password.dirty"></ion-input>
    </ion-item>
    <!-- ERROR -->
    <div class="error c-pass-error" *ngIf="passln == true">
      Minimum 6 charector required
    </div>
    <div class="error c-pass-error" *ngIf="passresult == true">
      Please enter Password First
    </div>
    <ion-item no-lines
              *ngIf="(userForm.get('new_password').hasError('required') ) && userForm.get('new_password').touched">
      <div class="error"
           *ngIf="userForm.get('new_password').hasError('required')  && userForm.get('new_password').touched">
        Please enter your new password
      </div>
    </ion-item>
    <div class="divider" no-padding></div>
    <ion-item class="input-item-dd input-signup" no-lines>
      <ion-input type="password" value="" placeholder="Confirm new password*" onCopy="return false"
                 onDrag="return false"
                 onCut="return false" onDrop="return false" onPaste="return false" autocomplete=off
                 formControlName="C_password"
                 (ngModelChange)="getconfirmpassvalue($event)"
                 [class.error1]="!userForm.controls.C_password.valid && userForm.controls.C_password.dirty"></ion-input>
    </ion-item>
    <!-- ERROR -->
    <div class="error c-pass-error" *ngIf="cresult == false">
      Your confirm password didn't matched
    </div>
    <ion-item no-lines *ngIf="(userForm.get('C_password').hasError('required') ) && userForm.get('C_password').touched">
      <div class="error" *ngIf="userForm.get('C_password').hasError('required')  && userForm.get('C_password').touched">
        Please confirm your new password
      </div>
    </ion-item>

  </form>
  <div class="custom_signup_footer">
    <div>
      <button ion-button class="input_item-btn login-btn" [disabled]="!userForm.valid" block type="submit"
              (click)="UpdatePassword()">UPDATE
        <img src="assets/Sweet_Donuts_images/general/arrow.png"/>
      </button>
    </div>
  </div>
</ion-content>
